body,
html {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 28px;
}

.game-screen {
  height: 100vh;
  background: radial-gradient(
    circle at -3.7% -5%,
    rgb(113, 213, 225) 0.3%,
    rgb(73, 146, 226) 90.5%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-screen {
  height: 100vh;
  background: radial-gradient(
    circle at -3.7% -5%,
    rgb(113, 213, 225) 0.3%,
    rgb(73, 146, 226) 90.5%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.game-over {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.game-won {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}

.buttons {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  border-radius: 20px;
  border: 1px solid #1b3764;
  background-color: black;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 22px;
  padding: 20px 25px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.buttons:hover {
  cursor: pointer;
  background: #1b3764;
}

#canvas {
  background-image: url("/images/backgrounds/backgroun3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.show {
  display: block;
}

.hide {
  display: none;
}
